#calculator{
    border: 2px solid black;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}
#display{
    margin: 10px;
    padding: 8px; 
    
} 
.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 5px;
}
.button{
    height: 40px;
    width: 45px;
    margin: 3px;
}